@use "../global";

body {
  background-color: #1f2641;
}

.hero {
  padding-top: 170px;
  display: flex;
  justify-content: center;
  gap: 30px;
  &__left {
    padding-top: 100px;
    padding-left: 190px;
    h1 {
      font-family: Raleway;
      max-width: 545px;
      font-size: 50px;
      line-height: 50px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 20px;
      span {
        max-width: 530px;
        font-weight: 100;
      }
    }
    p {
      max-width: 600px;
      font-size: 18px;
      font-family: Catamaran;
      color: #aab2cd;
      margin-bottom: 50px;
    }
    &__btns {
      display: flex;
      gap: 24px;
      margin-bottom: 50px;
      .hero__stake {
        color: #fff;
        font-family: Catamaran;
        font-size: 16px;
        padding: 15px 59px;
        border-radius: 4px;
        font-weight: 600;
        letter-spacing: 0.8px;
        background: rgb(237, 138, 76);
        background: linear-gradient(
          90deg,
          rgba(237, 138, 76, 1) 0%,
          rgba(234, 72, 92, 1) 65%
        );
        box-shadow: 0 5px 50px rgba(234, 72, 92, 1);
      }
      .hero__info {
        color: #fff;
        font-family: Catamaran;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 40px;
        border-radius: 6px;
        background-color: #00cde4;
        box-shadow: 0 5px 40px #00cde4;
      }
    }
    &__images {
      display: flex;
      gap: 24px;
    }
  }
}

#about {
  background-image: url(../../assets/images/about-background.png);
  background-repeat: no-repeat;
}

.about {
  display: flex;
  justify-content: end;
  padding-top: 300px;
  padding-right: 190px;
  &__video {
    position: relative;
    position: absolute;
    left: -6%;
    top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #00d1e4;
    iframe {
      position: relative;
      display: none;
      z-index: 2;
      top: -200px;
      right: 200px;
    }
  }
  &__video:after {
    content: "";
    bottom: -50%;
    right: -50%;
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    background-color: #00d1e4;
    opacity: 0.1;
    z-index: 0;
  }
  &__video:before {
    content: "";
    top: -25%;
    left: -25%;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #00d1e4;
    opacity: 0.2;
    z-index: 0;
  }
  &__content {
    position: relative;
    max-width: 700px;
    background-color: #7061b2;
    padding: 55px 100px 60px;
    color: white;
    .close__modal {
      display: none;
      position: absolute;
      top: -50px;
      right: 190px;
      font-size: 20px;
      cursor: pointer;
      font-size: 30px;
      color: white;
      background-color: transparent;
    }
    &__header {
      padding-left: 70px;
      font-family: Catamaran;
      font-size: 12px;
      margin-bottom: 50px;
      letter-spacing: 1.2px;
      font-weight: 700;
      position: relative;
    }
    &__header::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      height: 0.5px;
      width: 50px;
      background-color: white;
    }
    &__title {
      font-size: 40px;
      line-height: 45px;
      font-family: Raleway;
      font-weight: 700;
      margin-bottom: 40px;
      span {
        font-weight: 100;
      }
    }
    &__paragraph {
      margin-bottom: 40px;
      font-family: Raleway;
      line-height: 25px;
      font-size: 15px;
    }
    li {
      position: relative;
      font-family: Catamaran;
      margin-bottom: 10px;
      padding-left: 20px;
      span {
        font-weight: 700;
      }
      img {
        position: absolute;
        left: -5px;
      }
    }
  }
}

#space {
  background-image: url(../../assets/images/space.png);
  background-size: 100% 130%;
  background-repeat: no-repeat;
  height: 500px;
}

#benifits {
  background-image: url(../../assets/images/bgc-stars.png);
}

.benifits {
  padding: 100px 0;
  &__caption {
    color: #545c79;
    text-align: center;
    font-family: Catamaran;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 45px;
    font-family: Raleway;
    font-weight: 700;
    color: #fff;
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__card {
    width: 210px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
    gap: 24px;
    p {
      position: relative;
      z-index: 1;
      font-size: 16px;
      font-family: Raleway;
      color: #fff;
      font-weight: 700;
      letter-spacing: -0.32px;
    }
  }
  &__card:nth-child(1) {
    background-color: #e85f70;
    box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);
  }
  &__card:nth-child(2) {
    background-color: #fa8936;
    box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);
  }
  &__card:nth-child(4) {
    background-color: #4bc253;
    box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);
  }
  &__card:nth-child(5) {
    background-color: #0090d5;
    background-image: linear-gradient(-234deg, #29aceb 0%, #0090d5 100%);
    box-shadow: 0 0 51px rgba(0, 144, 213, 0.74);
  }
  &__logo {
    width: 100px;
    margin-right: 50px;
    margin-left: 50px;
  }
}

#space2 {
  background-image: url(../../assets/images/space2.png);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  div {
    background-image: url(../../assets/images/ssssssssss.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
}

#advantages {
  background-image: url(../../assets/images/advantages-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages {
  padding-top: 100px;
  &__caption {
    color: #545c79;
    text-align: center;
    font-family: Catamaran;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 13px;
  }
  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 45px;
    font-family: Raleway;
    font-weight: 700;
    color: #fff;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
  }
  &__blog {
    max-width: 540px;
    display: flex;
    align-items: center;
    gap: 24px;
    h4 {
      font-size: 20px;
      font-family: Raleway;
      font-weight: 700;
      color: #fff;
      letter-spacing: -0.4px;
      margin-bottom: 24px;
    }
    p {
      color: #aab2cd;
      font-weight: 300;
      font-family: Catamaran;
      font-size: 18px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
  }
  &__btn {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: Catamaran;
    font-size: 16px;
    padding: 15px 59px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background: rgb(237, 138, 76);
    background: linear-gradient(
      90deg,
      rgba(237, 138, 76, 1) 0%,
      rgba(234, 72, 92, 1) 65%
    );
    box-shadow: 0 5px 50px rgba(234, 72, 92, 1);
  }
}

#static {
  background-image: url(../../assets/images/static-stars.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 800px;
  .static {
    background-image: url(../../assets/images/static-bg.png);
    background-repeat: no-repeat;
    background-position: center 280px;
    height: 100%;
  }
}

.static {
  position: relative;
  &__results {
    position: absolute;
    h4 {
      font-size: 20px;
      font-family: Raleway;
      font-weight: 700;
      color: #fff;
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      font-size: 30px;
      font-family: Roboto;
      font-weight: 700;
      color: #fff;
    }
  }
  &__results:nth-child(1) {
    left: 300px;
    top: 550px;
  }
  &__results:nth-child(2) {
    left: 620px;
    top: 440px;
  }
  &__results:nth-child(3) {
    right: 360px;
    top: 380px;
  }
  &__results:nth-child(4) {
    right: 300px;
    top: 540px;
  }
}
